<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Car</title>
</head>
<body>
	<h1>Register your car</h1>
	<form method="post">
	  <div class="form-group">
	    <label for="formGroupExampleInput">Reg-No</label>
	    <input type="text" class="form-control" name="regno" id="formGroupExampleInput" placeholder="UAA345A">
	    {{error}}
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Year of Manufacture</label>
	    <input type="date" class="form-control" name="year_m"id="formGroupExampleInput2" placeholder="YYYY-MM-DD">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Year of Purchase</label>
	    <input type="date" class="form-control" name="year_p" id="formGroupExampleInput" placeholder="YYYY-MM-DD">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Total Distance</label>
	    <input type="text" class="form-control" name="dist" id="formGroupExampleInput2" placeholder="distance in km">
	  </div>
	  <button type="submit" class="btn btn-primary">save</button>
	</form>
</body>
</html>