<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Service</title>
</head>

<body>
    <h1>Car Service</h1>
    <form method="post">
        <div class="form-group">
            <label for="formGroupExampleInput2">Servered At</label>
            <input type="text" class="form-control" name="distance" id="formGroupExampleInput2" placeholder="distance in km">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Engine Oil</label>
            <select class="form-control" name="engine" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Gear Boil Oil</label>
            <select class="form-control" name="gear" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Differential Oil</label>
            <select class="form-control" name="diff" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Raditor Coolant</label>
            <select class="form-control" name="raditor" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Break & Clutch Fluid</label>
            <select class="form-control" name="breaks" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Steering Fluid</label>
            <select class="form-control" name="steering" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Battery</label>
            <select class="form-control" name="battery" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Wind Screen Solvent</label>
            <select class="form-control" name="wind" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Air Cleaner</label>
            <select class="form-control" name="air" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Spark Plugs</label>
            <select class="form-control" name="spark" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Fuel Filter</label>
            <select class="form-control" name="fuel" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Oil Filter</label>
            <select class="form-control" name="oil" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Greasing</label>
            <select class="form-control" name="greasing" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Flushing</label>
            <select class="form-control" name="flush" id="exampleFormControlSelect1">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Next Service at</label>
            <input type="text" class="form-control" name="next" id="formGroupExampleInput2" placeholder=" in km">
        </div>
        <input type="hidden" id="carid" name="car_id" value="{{car.id}}">
    
        <button type="submit" class="btn btn-primary">save</button>
    </form>
</body>

</html>