<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>cars</title>
</head>
<body>
	<h1>List of cars</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Reg no</th>
				<th>Year of manufacture</th>
				<th>Year of purchase</th>
				<th>Total Distance in km</th>
			</tr>
		</thead>
		{% for car in cars%}
		<tbody>
			<tr>
				<td>{{car.reg_no}}</td>
				<td>{{car.year_of_manufacture}}</td>
				<td>{{car.year_of_purchase}}</td>
				<td>{{car.total_mileage_in_km}}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>

</body>
</html>