<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>cars</title>
</head>
<body>
	<div>
		<h1>List of cars</h1>
		{% for car in cars%}
		    <div class="alert alert-light" role="alert">
			    <a href="{% url "mycar:details" reg_no=car.reg_no %}" class="alert-link">{{car.reg_no}}</a>
		    </div>
		{% endfor %}
		
		<h1>Informantion About Drivers</h1>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Date of birth</th>
					<th>Sex</th>
					<th>Phone no</th>
					<th>Permit no</th>
					<th>Nationality</th>
					<th>District</th>
					<!--<th>Photo</th>-->
				</tr>
			</thead>
		
			{% for driver in drivers%}
			<tbody>
				<tr>
					<td>{{driver.first_name}}</td>
					<td>{{driver.last_name}}</td>
					<td>{{driver.date_of_birth}}</td>
					<td>{{driver.sex}}</td>
					<td>{{driver.phone_no}}</td>
					<td>{{driver.permit}}</td>
					<td>{{driver.nation}}</td>
					<td>{{driver.district}}</td>
					<td>
						<!--<img src="{{driver.thumb.url}}" />-->
					</td>
		
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
</body>
</html>