<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Car</title>
</head>
<body>
	<h1>car details</h1>
	<form>
	  <div class="form-group">
	    <label>Reg-no : {{car.reg_no}}</label>
	  </div>
	  <div class="form-group">
	    <label>Year of Manufacture : {{car.year_of_manufacture}}</label>
	  </div>
	  <div class="form-group">
	    <label>Year of Purchase : {{car.year_of_purchase}}</label>
	  </div>
	  <div class="form-group">
	    <label>Total distance : {{car.total_mileage_in_km}} km</label>
	  </div>
	</form>
	<h1>Add Service</h1>
	 
	<form method="post">
		<div class="form-group">
			<label>Servered At</label>
			<input type="text" class="form-control" name="distance" id="service" placeholder="distance in km">
		</div>
		<div class="form-group">
			<label>Engine Oil</label>
			<select class="form-control" name="engine" id="engine">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Gear Boil Oil</label>
			<select class="form-control" name="gear" id="gear">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Differential Oil</label>
			<select class="form-control" name="diff" id="oil">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Raditor Coolant</label>
			<select class="form-control" name="raditor" id="raditor">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Break & Clutch Fluid</label>
			<select class="form-control" name="breaks" id="breaks">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label></label>Steering Fluid</label>
			<select class="form-control" name="steering" id="steering">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Battery</label>
			<select class="form-control" name="battery" id="battery">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Wind Screen Solvent</label>
			<select class="form-control" name="wind" id="wind">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Air Cleaner</label>
			<select class="form-control" name="air" id="air">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Spark Plugs</label>
			<select class="form-control" name="spark" id="spark">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Fuel Filter</label>
			<select class="form-control" name="fuel" id="fuel">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Oil Filter</label>
			<select class="form-control" name="oil" id="filter">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Greasing</label>
			<select class="form-control" name="greasing" id="gear">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label>Flushing</label>
			<select class="form-control" name="flush" id="flush">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>		
		<div class="form-group">
			<label for="formGroupExampleInput2">Next Service at</label>
			<input type="text" class="form-control" name="nexts" id="formGroupExampleInput2" placeholder=" in km">
		</div>
		<input type="hidden" id="carid" name="car_id" value="{{car.id}}">
	
		<button type="submit" class="btn btn-primary">save</button>
	</form>
	
	<h1>Informantion for the Service</h1>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Service (KM)</th>
				<th>Date</th>
				<th>Engine Oil</th>
				<th>Gear Boil Oil</th>
				<th>Differential Oil</th>
				<th>Raditor Coolant</th>
				<th>Break & Clutch Fluid</th>
				<th>Steering Fluid</th>
				<th>Battery</th>
				<th>Wind Screen Solvent</th>
				<th>Air Cleaner</th>
				<th>Spark Plugs</th>
				<th>Fuel Filter</th>
				<th>Oil Filter</th>
				<th>Flushing</th>
				<th>Greasing</th>
				<th>next service(KM)</th>
			</tr>
		</thead>
		{% for service in services %}
		<tbody>
			<tr>
				<td>{{service.distance}}</td>
				<td>{{service.date}}</td>
				<td>{{service.engine}}</td>
				<td>{{service.gear}}</td>
				<td>{{service.diff}}</td>
				<td>{{service.raditor}}</td>
				<td>{{service.breaks}}</td>
				<td>{{service.steering}}</td>
				<td>{{service.battery}}</td>
				<td>{{service.wind}}</td>
				<td>{{service.air}}</td>
				<td>{{service.spark}}</td>
				<td>{{service.fuel}}</td>
				<td>{{service.oil}}</td>
				<td>{{service.flush}}</td>
				<td>{{service.greasing}}</td>
				<td>{{service.nexts}}</td>
	
			</tr>
		</tbody>
		{% endfor %}
	</table>


</body>
</html>