<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Car</title>
</head>
<body>
	<h1>car details</h1>
	<form>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Reg-no : {{car.reg_no}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Year of Manufacture : {{car.year_of_manufacture}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Year of Purchase : {{car.year_of_purchase}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Total distance : {{car.total_mileage_in_km}} km</label>
	  </div>
	</form>
	<h1>Add Service</h1>
	 
	<form method="post">
		<div class="form-group">
			<label for="formGroupExampleInput2">Servered At</label>
			<input type="text" class="form-control" name="distance" id="formGroupExampleInput2" placeholder="distance in km">
		</div>

		<fieldset class="form-group">
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Engine Oil</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="engine" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="engine" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Gear Boil Oil</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gear" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gear" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Differential Oil</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="diff" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="diff" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Raditor Coolant</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="raditor" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="raditor" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Break & Clutch Fluid</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="breaks" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="breaks" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Steering Fluid</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="steering" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="steering" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Battery</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="battery" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="battery" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Wind Screen Solvent</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="wind" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="wind" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Air Cleaner</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="air" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="air" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Spark Plugs</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="spark" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="spark" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Fuel Filter</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="fuel" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="fuel" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Oil Filter</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="oil" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="oil" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Greasing</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="greasing" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="greasing" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Flushing</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flush" id="gridRadios1" value="option1" checked>
						<label class="form-check-label" for="gridRadios1">Checked</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="flush" id="gridRadios2" value="option2">
						<label class="form-check-label" for="gridRadios2">Changed</label>
					</div>
				</div>
			</div>
		</fieldset>
		
		<div class="form-group">
			<label for="formGroupExampleInput2">Next Service at</label>
			<input type="text" class="form-control" name="next" id="formGroupExampleInput2" placeholder=" in km">
		</div>
		<input type="hidden" id="carid" name="car_id" value="{{car.id}}">
	
		<button type="submit" class="btn btn-primary">save</button>
	</form>
	
	<h1>Informantion for the Service</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Service in km</th>
				<th>Date</th>
			</tr>
		</thead>
	
		<!--{% for service in services%}-->
		<tbody>
			<tr>
				<td>{{service.distance}}</td>
				<td>{{service.date}}</td>
	
			</tr>
		</tbody>
	<!--	{% endfor %}-->
	</table>


</body>
</html>