<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Car</title>
</head>
<body>
	<h1>car details</h1>
	<form>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Reg-no : {{car.reg_no}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Year of Manufacture : {{car.year_of_manufacture}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Year of Purchase : {{car.year_of_purchase}}</label>
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Total distance : {{car.total_mileage_in_km}} km</label>
	  </div>
	</form>
	<h1>Add Service</h1>
	 
	<form method="post">
		<div class="form-group">
			<label for="formGroupExampleInput2">Servered At</label>
			<input type="text" class="form-control" name="distance" id="formGroupExampleInput2" placeholder="distance in km">
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Engine Oil</label>
			<select class="form-control" name="engine" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Gear Boil Oil</label>
			<select class="form-control" name="gear" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Differential Oil</label>
			<select class="form-control" name="diff" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Raditor Coolant</label>
			<select class="form-control" name="raditor" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Break & Clutch Fluid</label>
			<select class="form-control" name="breaks" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Steering Fluid</label>
			<select class="form-control" name="steering" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Battery</label>
			<select class="form-control" name="battery" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Wind Screen Solvent</label>
			<select class="form-control" name="wind" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Air Cleaner</label>
			<select class="form-control" name="air" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Spark Plugs</label>
			<select class="form-control" name="spark" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Fuel Filter</label>
			<select class="form-control" name="fuel" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Oil Filter</label>
			<select class="form-control" name="oil" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Greasing</label>
			<select class="form-control" name="greasing" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Flushing</label>
			<select class="form-control" name="flush" id="exampleFormControlSelect1">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>		
		<div class="form-group">
			<label for="formGroupExampleInput2">Next Service at</label>
			<input type="text" class="form-control" name="nexts" id="formGroupExampleInput2" placeholder=" in km">
		</div>
		<input type="hidden" id="carid" name="car_id" value="{{car.id}}">
	
		<button type="submit" class="btn btn-primary">save</button>
	</form>
	
	<h1>Informantion for the Service</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Service (KM)</th>
				<th>Engine Oil</th>
				<th>Gear Boil Oil</th>
				<th>Differential Oil</th>
				<th>Raditor Coolant</th>
				<th>Break & Clutch Fluid</th>
				<th>Steering Fluid</th>
				<th>Battery</th>
				<th>Wind Screen Solvent</th>
				<th>Air Cleaner</th>
				<th>Spark Plugs</th>
				<th>Fuel Filter</th>
				<th>Oil Filter</th>
				<th>Flushing</th>
				<th>Greasing</th>
				<th>next service(KM)</th>
			</tr>
		</thead>
	
		<!--{% for service in services%}-->
		<tbody>
			<tr>
				<td>{{service.distance}}</td>
				<td>{{service.date}}</td>
				<td>{{service.engine}}</td>
				<td>{{service.gear}}</td>
				<td>{{service.diff}}</td>
				<td>{{service.raditor}}</td>
				<td>{{service.breaks}}</td>
				<td>{{service.steering}}</td>
				<td>{{service.battery}}</td>
				<td>{{service.wind}}</td>
				<td>{{service.air}}</td>
				<td>{{service.spark}}</td>
				<td>{{service.fuel}}</td>
				<td>{{service.oil}}</td>
				<td>{{service.flush}}</td>
				<td>{{service.greasing}}</td>
				<td>{{service.nexts}}</td>
	
			</tr>
		</tbody>
	<!--	{% endfor %}-->
	</table>


</body>
</html>